// Grid system
//


.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -$gutters / 2;
  margin-left: -$gutters / 2;
}

.col {
  position: relative;
  width: 100%;
  padding-right: $gutters / 2;
  padding-left: $gutters / 2;
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%;
}
