.app-top-bar {
  position: absolute;
}

.app-top-bar__title {
  display: flex;
  align-items: center;
}

.app-top-bar__logo {
  width: 28px;
  height: 28px;
}

// BREAKPOINT min-width:900px

.app-top-bar__nav-btn {
  display: none;
}

// BREAKPOINT max-width:900px

@media (max-width: 900px) {
  .app-top-bar__nav-btn {
    display: block;
  }
}
