<mat-toolbar class="app-toolbar" color="primary">
  <button mat-icon-button aria-label="Toggle app menu" class="app-toolbar__btn-menu" (click)="sidenavIconClick.emit()">
    <mat-icon>menu</mat-icon>
  </button>

  <img class="app-toolbar__logo" src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjUwIiBoZWlnaHQ9IjI1MCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBmaWxsPSJub25lIiBkPSJNLTEtMWg1ODJ2NDAySC0xeiIvPjxnPjxnIGZpbGw9IiNmZmYiPjxwYXRoIG9wYWNpdHk9Ii41IiBkPSJNMTI1IDI1TDMxLjkgNTguMmwxNC4yIDEyMy4xTDEyNSAyMjVsNzguOS00My43IDE0LjItMTIzLjF6Ii8+PHBhdGggb3BhY2l0eT0iLjc1IiBkPSJNMTI1IDI1djIyLjItLjFWMjI1bDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAyNXoiLz48L2c+PHBhdGggZD0iTS0yNzcuODg2IDQyLjI5di0uODM4aDBjMC0uMzYuMjkyLS42NTIuNjUyLS42NTJoMGEuNjUyLjY1MiAwIDAxLjY1Mi42NTJ2LjA5M2guMTg2bC0uMzcyLjM3Mi0uMzczLS4zNzJoLjE4NnYtLjA5M2EuMjguMjggMCAwMC0uMjc5LS4yOGgwYS4yOC4yOCAwIDAwLS4yOC4yOHYuODM4aC0uMzcyeiIgc3Ryb2tlLXdpZHRoPSIxLjUiIHN0cm9rZT0iIzAwMCIgZmlsbD0iI2ZmZiIvPjxwYXRoIGQ9Ik05OS42MiA4Mi40MDZsODAuMDM0LTEyLjA2LTEyLjA2IDgwLjAzMy0xNi45OTMtMTYuOTkzLTQ2LjI2OCA0Ni4yNjgtMzMuOTg3LTMzLjk4N0wxMTYuNjE0IDk5LjQgOTkuNjIxIDgyLjQwNnoiIGZpbGw9IiMyMTk2ZjMiLz48L2c+PC9zdmc+DQo=" alt=""> Angular Starter App

  <div class="app-toolbar__right">
    <button mat-icon-button aria-label="Toggle user menu" [matMenuTriggerFor]="menu">
      <mat-icon>person</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>Your profile</button>
      <button mat-menu-item>Settings</button>
      <button mat-menu-item>Sign out</button>
    </mat-menu>
  </div>
</mat-toolbar>
