// Material Design: Web Components
// https://github.com/material-components/material-components-web

@import "@material/drawer/mdc-drawer";
@import "@material/list/mdc-list";
@import "@material/top-app-bar/mdc-top-app-bar";
@import "@material/typography/mdc-typography";

.mdc-top-app-bar {
  @include mdc-top-app-bar-fill-color-accessible(primary);
  @include mdc-top-app-bar-icon-ink-color(on-primary);
}

.main-content {
  margin: 20px 50px;
}

.mdc-drawer-app-content {
  flex: auto;
  overflow: auto;
  position: relative;
}

.main-content {
  overflow: auto;
  height: 100%;
}
