<div class="page-content">
  <section class="home-highlight">
    <h1 class="mat-display-1 home-display">Welcome to angular-starter-app!</h1>
    <img src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjUwIiBoZWlnaHQ9IjI1MCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBmaWxsPSIjMjE5NmYzIiBkPSJNMTI1IDI1TDMxLjkgNTguMmwxNC4yIDEyMy4xTDEyNSAyMjVsNzguOS00My43IDE0LjItMTIzLjF6Ii8+PHBhdGggZmlsbD0iIzE5NzZkMiIgZD0iTTEyNSAyNXYyMi4yLS4xVjIyNWw3OC45LTQzLjcgMTQuMi0xMjMuMUwxMjUgMjV6Ii8+PHBhdGggZD0iTS0yNzcuODg2IDQyLjI5di0uODM4aDBjMC0uMzYuMjkyLS42NTIuNjUyLS42NTJoMGEuNjUyLjY1MiAwIDAxLjY1Mi42NTJ2LjA5M2guMTg2bC0uMzcyLjM3Mi0uMzczLS4zNzJoLjE4NnYtLjA5M2EuMjguMjggMCAwMC0uMjc5LS4yOGgwYS4yOC4yOCAwIDAwLS4yOC4yOHYuODM4aC0uMzcyeiIgc3Ryb2tlLXdpZHRoPSIxLjUiIHN0cm9rZT0iIzAwMCIgZmlsbD0iI2ZmZiIvPjxwYXRoIGQ9Ik05OS42MiA4Mi40MDZsODAuMDM0LTEyLjA2LTEyLjA2IDgwLjAzMy0xNi45OTMtMTYuOTkzLTQ2LjI2OCA0Ni4yNjgtMzMuOTg3LTMzLjk4N0wxMTYuNjE0IDk5LjQgOTkuNjIxIDgyLjQwNnoiIGZpbGw9IiNmZmYiLz48L3N2Zz4NCg==" alt="">
  </section>

  <section class="home-modules">
    <header class="home-modules__header">
      <p>
        Angular Starter App is real word boilerplate to speedup your development.
        Just focus on your main features and dont waist your time on setting up the whole necessary angular environment.
        Using this starter you will save a lot of hours and this will make sure that you are creating your app following
        the best practise
      </p>
    </header>

    <div class="row">
      <div class="col">
        <mat-card class="home-card">
          <mat-card-header>
            <div mat-card-avatar class="home-card__header-image">
              <mat-icon color="accent" aria-hidden="false" aria-label="Example Module" class="home-card__header-icon">
                star_border
              </mat-icon>
            </div>
            <mat-card-title>Examples</mat-card-title>
            <mat-card-subtitle>feature module</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <p>
              This feature shows basic usage of notifications, local storage, offline indicator, http error handler
              and loading interceptor.
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button color="primary" [routerLink]="['/', 'examples']">Check it out!</button>
          </mat-card-actions>
        </mat-card>
      </div>

      <div class="col">
        <mat-card class="home-card">
          <mat-card-header>
            <div mat-card-avatar class="home-card__header-image">
              <mat-icon  color="accent" aria-hidden="false" aria-label="Posts Module" class="home-card__header-icon">
                notes
              </mat-icon>
            </div>
            <mat-card-title>Posts</mat-card-title>
            <mat-card-subtitle>feature module</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <p>
              This feature module is using @ngrx/store & @ngrx/effects.
              It operates on posts and makes all CRUD actions on it.
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button color="primary" [routerLink]="['/', 'posts']">Check it out!</button>
          </mat-card-actions>
        </mat-card>
      </div>

      <div class="col">
        <mat-card class="home-card">
          <mat-card-header>
            <div mat-card-avatar class="home-card__header-image">
              <mat-icon color="accent" aria-hidden="false" aria-label="Todos Module" class="home-card__header-icon">
                done_outline
              </mat-icon>
            </div>
            <mat-card-title>Todos</mat-card-title>
            <mat-card-subtitle>feature module</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <p>
              This feature module is using @ngrx/entity & @ngrx/effects.
              It operates on todos and make all CRUD actions on it.
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button color="primary" [routerLink]="['/', 'todos']">Check it out!</button>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
  </section>

  <div class="home-docs">
    Want to know more about angular-starter-app read
    <a href="https://matsta25.gitlab.io/angular-starter-app/docs/">documentation</a>, please.
  </div>
</div>
